.nav-wrapper {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* flex-direction: row; */
    z-index: 100;
    background: #fff;

}

.toggle{
    font-size: 35px;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 30px;
}


.logo {
    font-size: 12px;
    background: #ffe400;
    /* color: #29648a; */
    /* width: 80%; */
    /* height: 100%; */
}

/*-----------*/
.img-logo {
    background: url(https://lh5.googleusercontent.com/proxy/qFaShMu9mi3JMm849Kox9lHGugjTBzKJN0mWam89d118ga0IQloa7T6bwoWcJHfLhgaC0wEWqlHyfMt41hYlvQ=w1200-h630-p-k-no-nu);
    height: 6em;
    width: 6em;
    background-size: 6em;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
}

.nav-link {
    color: #B1B1B1;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    transition: color 1s ease;
}

.nav-link:hover {
    color: #ffe400;
}

/* .active {
    color: #1D1D1D;
} */

.js-active{
    display: block;
    height: 230px;
}

@media screen and (max-width: 600px) {
    
    .logo {
        font-size: 8px;
        width: 150px !important;
    }
    
    .nav-link {
        width: 150px;
        font-size: 22px;
        margin-bottom: 5px; 
    }

    nav{
        flex-direction: column;
        display: none;
        width: 300px;
        padding-top: 100px;
        /* margin-top: 100px; */
    }
    .toggle{
        visibility: visible;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 35px;
    }
} 

/* @media screen and (max-width: 768px){
    .logo{
        font-size: 10px;
        width: 40% !important;
    }

    nav{
        flex-direction: column;
    }
    .toggle{
        visibility: visible;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
    }
} */

.js-active{
    display: block;
}