body {
    background-image: 
        linear-gradient(
        to right,
        #ffdaaa,
        rgb(255, 255, 255),
        #4980ed,
        rgb(255, 255, 255),
        #ffdaaa);
    opacity: 0.8;
}

div {
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    padding: 20px;
    background-color: #e2e1e0;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

div fieldset {
    border: none;
}

div legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

div label {
    display: block;
    margin-bottom: 8px;
}

div input[type="text"],
div input[type="email"],
div input[type="tel"],

div textarea,
div select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;

}

div input[type="text"]:focus,
div input[type="email"]:focus,
div input[type="tel"]:focus,
div input[type="checkbox"],
div textarea:focus,
div select:focus {
    background: #d2d9dd;
    color: #080f79;
}

div select {
    height: 35px;
}

div .number {
    background: #ff7900;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}


                                   /* -----Button----- */
div input[type="submit"],
div input[type="button"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #ff7900;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid rgba(0,0,255,0.3);
    border-radius: 4px;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;

}

div input[type="submit"]:hover,
div input[type="button"]:hover {
    background: #080f79;
    color: #ff7900;
   
}

                              /* ----- Radio Button ----- */
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #ff7900;
}
                           /* Select country add */
#kraj {
    text-align: center;
}