#container {
    height: 616px;
    width: 616px;
    position: static;
 /* background-color: black; */

}
                                      /* -------------- Squares and Circles (ALL options) ------------- */
.square {
    position: absolute;
    height: 200px;
    width: 200px;
}

.circle {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 25%;
    margin-top: 25%;
    border-radius: 50%;
}
                                           /* -------------- Colored Squares and positions ------------ */
#square1 {
    background-color: red;
    left: 12px;
    top: 12px;
}

#square2 {
    background-color: blue;
    left: 216px;
    top: 12px;
}

#square3 {
    background-color: green;
    left: 420px;
    top: 12px;
}

#square4 {
    background-color: yellow;
    left: 12px;
    top: 216px;
}

#square5 {
    background-color: black;
    left: 216px;
    top: 216px;
}

#square6 {
    background-color: orange;
    left: 420px;
    top: 216px;
}

#square7 {
    background-color: blueviolet;
    left: 12px;
    top: 420px;
}

#square8 {
    background-color: gray;
    left: 216px;
    top: 420px;
}

#square9 {
    background-color: pink;
    left: 420px;
    top: 420px;
}
                                               /* -------------- Colored Circles ------------ */
#circle1 {
    background-color: pink;
}

#circle2 {
    background-color: grey;
}

#circle3 {
    background-color: blueviolet;
}

#circle4 {
    background-color: green;
}

#circle5 {
    background-color: red;
}

#circle6 {
    background-color: blue;
}

#circle7 {
    background-color: orange;
}

#circle8 {
    background-color: yellow;
}

#circle9 {
    background-color: black;
}
